:host{
    ion-list{
        padding-top: 0!important;
    }

    ion-item{
        --background: transparent;
        transition: background-color 0.3s;
    }

    ion-item:hover{
        --background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
    }
}

@media (max-width: 576px) {
  ion-item {
    font-size: 0.9rem;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}
